
**/JuceLibraryCode
**/.DS_Store
**/.vs


**/Builds/**/*
!**/Builds
!**/Builds/VisualStudio2022/
!**/Builds/VisualStudio2022/x64
!**/Builds/VisualStudio2022/x64/Debug
!**/Builds/VisualStudio2022/x64/Debug/VST3
!**/Builds/VisualStudio2022/x64/Debug/VST3/BasicEQ.vst3
!**/Builds/VisualStudio2022/x64/Debug/VST3/BasicEQ.vst3/Contents
!**/Builds/VisualStudio2022/x64/Debug/VST3/BasicEQ.vst3/Contents/x86_64-win
!**/Builds/VisualStudio2022/x64/Debug/VST3/BasicEQ.vst3/Contents/x86_64-win/*
